/**
  |============================
  | Custom propertis
  |============================
*/
:root {
  --primary-font: "Roboto", "Raleway" sant-sarif;
  --title-font: "Roboto", sant-sarif;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --slate: #434455;
  --cornflower: #e7e9fc;
}
body {
  font-family: "Roboto", sant-sarif;
  color: #434455;
  background-color: var(--white, #ffffff);
}
button {
  cursor: pointer;
}

/**
    |============================
    | List and link decor
    |============================
  */

ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/**
  |============================
  | Hedder section
  |============================
*/
.top-line {
  background-color: #ffffff;
}

/* Logo */
.logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration-line: none;
}
.logo-hed {
  color: #2e2f42;
}
.logo-footer {
  color: var(--cloud, #f4f4fd);
}
.page-nav {
  color: var(--navyblue, #2e2f42);
}
.link-nav {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--ocean, #404bbf);
}
.address {
  font-style: normal;
}
.page-contact {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.page-contact:hover,
.page-contact:focus {
  color: var(--ocean, #404bbf);
}
.page-contact-item {
}

/**
  |============================
  | Section hero 
  |============================
*/
.hero-section {
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07em; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
  /* Button bg */
  background: var(--iris, #4d5ae5);
}
/* Btn active */
.hero-button:hover,
.hero-button:focus {
  background: var(--ocean, #404bbf);
}

/**
  |============================
  | Section ofers
  |============================
*/
.saction-ofers {
  background: #fff;
}
.ofers-title {
}
.ofers-list {
}
.ofers-list-item {
}
.ofers-list-name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.4px;
}
.ofers-list-desc {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/**
  |============================
  | Section benefits
  |============================
*/
.section-benefits {
}
.benefits-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.benefits-list {
}
.benefits-list-item {
}
.benefits-list-img {
  border: 1px solid var(--cornflower, #e7e9fc);
}
/**
  |============================
  | Section team
  |============================
*/
.section-team {
  background: var(--cloud, #f4f4fd);
}
.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
}
.team-list-item {
  background: var(--white, #fff);
}
.team-list-img {
}
.team-list-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.4px;
}
.team-list-text {
  color: var(--slate, #434455);
  text-align: center;
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
}
/**
  |============================
  | Section portfolio
  |============================
*/
.section-portfolio {
}
.portfolio-filters-list {
}
.filters-list-btm {
  border: 1px solid var(--cornflower, #e7e9fc);
}
.filters-btm-text {
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  background: var(--cloud, #f4f4fd);
  text-align: center;
  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filters-btm-text:hover,
.filters-btm-text:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}

.portfolio-list {
}
.portfolio-list-item {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.portfolio-list-img {
}
.portfolio-list-name {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.02em;
}
.portfolio-list-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}

/**
  |============================
  | Footr section
  |============================
*/
.footr-section {
  background: var(--navyblue, #2e2f42);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
}
